body {
    background-image: url('/images/image6.jpg');
    background-size: cover;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: rgba(249, 249, 249, 0.8); 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    margin: 0 auto; 
    margin-top: 200px; 
}



h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


p {
    text-align: center;
    margin-top: 10px;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007bff;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}
